/*
 * Device Tree Overlay para Teensy 4.1 - Proyecto ELYOS Motor Driver
 */

/ {
    aliases {
        led0 = &led0;
        
        // PWM aliases para FOC
        pwm-phase-a = &flexpwm2_pwm0; // Pin 4 y 33
        pwm-phase-b = &flexpwm2_pwm2; // Pin 6 y 9
        pwm-phase-c = &flexpwm2_pwm3; // Pin 36 y 37
    };

    leds {
        compatible = "gpio-leds";
        led0: led_0 {
            gpios = <&gpio9 3 GPIO_ACTIVE_HIGH>; /* Pin 13 */
            label = "User LED";
        };
    };
};

&lpspi1 {
    status = "okay";
};

&lpuart2 {
    status = "okay";
    current-speed = <115200>;
};

/* Habilitar submódulos de FLEXPWM2 */
&flexpwm2_pwm0 {
    status = "okay";
};

&flexpwm2_pwm2 {
    status = "okay";
};

&flexpwm2_pwm3 {
    status = "okay";
};

/* Habilitar ADC1 */
&adc1 {
    status = "okay";
};
